.cardComponent {
  border: 1px solid #bbb;
  border-radius: 10%;
  text-align: center;
  margin-bottom: 2rem;
  width: 280px;
  height: 340px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
}

.text {
  font-size: 24px;
}

.text h5 {
  color: #8a7442;
  font-weight: normal;
  font-size: 0.75em;
  margin-bottom: 0.75rem;
}

.text h6 {
  color: #8a7442;
  font-weight: lighter;
  font-size: 0.5em;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.image img {
  filter: grayscale(1);
  width: 150px;
  height: 150px;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.image img:hover {
  filter: grayscale(0);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background: #000;
}

@media (min-width: 992px) {
  .cardComponent {
    width: 320px;
    height: 360px;
  }
  .text {
    font-size: 30px;
  }
}
