.container {
  background-color: var(--Cream);
  padding: 4rem 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container a {
  text-decoration: none;
  margin-top: 1rem;
}

.image img {
  border-radius: 50%;
  border: 1px solid var(--Cream);
  height: 180px;
  margin-bottom: 1.75rem;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.container p {
  font-size: 0.75rem;
  margin-bottom: 3rem;
}

.animations {
  margin-bottom: 1.75rem;
}

.typewriterDeveloperContainer {
  width: fit-content;
  margin-bottom: 0.4rem;
}

.typewriterMusicianContainer {
  width: fit-content;
}

.typewriterDeveloper h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 1.2s steps(25, end), blink-caret 0.7s step-end 2s,
    hide-blink-caret 3600s step-end 2.3s;
}

.typewriterMusician h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: hiddenAnimation 2.1s, typing 1.2s steps(25, end) 2.1s,
    blink-caret 0.7s step-end infinite;
  padding-left: 1.2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 10%;
  z-index: 2;
}

@media (max-width: 769px){
  .links{
    display: none;
  }
}

.links a {
  text-decoration: none;
  color: var(--Black);
}

.links button {
  cursor: pointer;
  font-size: small;
  background-color: var(--DarkCream);
  border-radius: 80%;
  margin-bottom: 0.5rem;
  width: 64px;
  height: 64px;
  border-style: dashed;
  opacity: 0.5;
  margin: 0 2vh;
}

@media (min-width: 769px) {
  .links button {
    width: 80px;
    height: 80px;
  }
}

.links button:hover {
  background-color: #ecdebc;
  /* color: #f2d388; */
}

/* The typing effect */
@keyframes hiddenAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes hide-blink-caret {
  from,
  to {
    border: 0;
  }
  /* 50% { border-color: black; } */
}

@media (min-width: 769px) {
  .image img {
    height: 220px;
  }
}
@media (min-width: 1024px) {
  /* .container{
    height: auto;
  } */
}
