.container {
  padding: 2.5rem 2rem 3rem 2rem;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.main img {
  width: 40px;
  height: 40px;
}

.tech {
  background-color: var(--Cream);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;

}

@media (min-width: 769px) {
 .tech {
  width: 400px;
 }

}