.section {
  text-align: center;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 1050px;
}

.container img {
  width: 40px;
  height: 40px;
}

.tech {
  background-color: var(--Cream);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.tech p {
  margin: auto;
}

@media (min-width: 769px) {
  .container {
    justify-content: space-between;
  }
 .tech {
  width: 300px;
 }

}