.section {
  text-align: center;
  padding: 40px
}

.section h3 {
  margin-bottom: 3rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* gap: 32px; */
}

@media (min-width: 769px) {
  .cardsContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1000px;
    justify-content: space-between;
    /* gap: 48px; */
  }
}






