.card {
  border: 1px solid #bbb;
  border-radius: 10%;
  width: 250px;
  /* height: 350px; */
  padding: 2rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  font-weight: normal;
  color: #8a7442;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.subtitle {
  font-weight: lighter;
  color: #8a7442;
  opacity: 0.9;
  margin-bottom: 1.25rem;
}

.image {
  filter: grayscale(1);
  height: 150px;
  width: 140px;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.image:hover {
  filter: grayscale(0);
}

.card p {
  margin-bottom: 0.75rem;
}

.usedTech {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}

.usedTech img {
  height: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 40%;
  height: 1.8rem;
  background-color: var(--Cream);
  border-radius: 9px;
}

.button:hover {
  background-color: #8a7442;
  color: #F2D388;
}

.button a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1024px) {
  .card {
    width: 300px;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  .subtitle {
    font-size: 1.125rem;
    opacity: 0.9;
    margin-bottom: 1.25rem;
  }

  .card p {
    font-size: 1.125rem;
  }
}