.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 769px) {
  .article {
    flex-direction: row;
    align-items: flex-start;
  }
}
