.myButton a {
  text-decoration: none;
}

.myButton button:hover {
  background-color: var(--ButtonHover);
}

.myButton button {
  cursor: pointer;
  color: black;
  background-color: var(--Cream);
  padding: 4px 12px 4px 12px;
  font-size: 1rem;
  border-radius: 12px;
  border-color: black;
  width: 90px;
  text-align: center;
}
