.section {
  text-align: center;
  padding: 40px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.text {
  margin: 1rem;
  font-size: 1.1rem;
  padding: 0 5px;
}

.text a {
  color: var(--DarkCream);
}

.text p {
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

@media (min-width: 769px) {
  .container {
    text-align: justify;
  }

  .text {
  }
}
